@import '_reset.css';
@import 'variables.css';

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf') format('truetype');
}
html {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 16px;
}
body {
	display: flex;
	flex-direction: column;
	overflow: hidden auto;
	background-color: var(--color-white);
	color: var(--color-black);
}
main {
	flex-grow: 1;
}

/* Theme */

.container {
	max-width: 1200px;
	margin-inline: auto;
	padding-inline: 1.5rem;
	@media (--size-sm) {
		width: 90%;
		padding-inline: unset;
	}
}
h1,
.h1 {
	font-size: 2.6875rem;
	font-weight: 500;
	@media (--size-md) {
		font-size: 3.75rem;
	}
}
h2,
.h2 {
	font-size: 2.25rem;
	font-weight: 500;

	@media (--size-md) {
		font-size: 2.5rem;
	}
}
h3,
.h3 {
	font-size: 1.625rem;
	font-weight: 500;
	@media (--size-md) {
		font-size: 1.875rem;
	}
}
h4,
.h4 {
	font-size: 1.125rem;
	@media (--size-md) {
		font-size: 1.25rem;
	}
}

p,
body,
.p {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	@media (--size-md) {
		font-size: 1.125rem;
	}
}
