@custom-media --device-phone (width <= 575px);
@custom-media --device-tablet (576px<= width <= 767px);
@custom-media --device-laptop (768px <= width <= 1199px);
@custom-media --device-desktop (1200px <= width <= 1920px);
@custom-media --device-tv (width >= 1920px);

@custom-media --size-xs (356px <= width);
@custom-media --size-sm (576px <= width);
@custom-media --size-md (768px <= width);
@custom-media --size-lg (1200px <= width);
@custom-media --size-xl (1920px <= width);

/* custom css variables can only be stored in :root or html because of postcss */
html,
html[data-theme='light'] {
	--color-green: #b9ff66;
	--color-grey: #f3f3f3;
	--color-dark: #191a23;
	--color-black: #000000;
	--color-white: #ffffff;
	--border-radius-sm: 0.4375rem;
	--border-radius-md: 0.875rem;
	--border-radius-lg: 2.8125rem;

	--font-p: clamp(1rem, 0.38vi + 0.9rem, 1.25rem);
	--font-h4: clamp(1.2rem, 0.71vi + 1.02rem, 1.66rem);
	--font-h3: clamp(1.44rem, 1.19vi + 1.14rem, 2.21rem);
	--font-h2: clamp(1.73rem, 1.87vi + 1.26rem, 2.94rem);
	--font-h1: clamp(2.07rem, 2.83vi + 1.37rem, 3.91rem);
}
