@custom-media --device-phone (width <= 575px);
@custom-media --device-tablet (576px<= width <= 767px);
@custom-media --device-laptop (768px <= width <= 1199px);
@custom-media --device-desktop (1200px <= width <= 1920px);
@custom-media --device-tv (width >= 1920px);

@custom-media --size-sm (576px <= width);
@custom-media --size-md (768px <= width);
@custom-media --size-lg (1200px <= width);
@custom-media --size-xl (1920px <= width);

/* custom css variables can only be stored in :root or html because of postcss */
html,
html[data-theme='light'] {
	--color-green: #b9ff66;
	--color-grey: #f3f3f3;
	--color-dark: #191a23;
	--color-black: #000000;
	--color-white: #ffffff;
	--border-radius-sm: 0.4375rem;
	--border-radius-md: 0.875rem;
	--border-radius-lg: 2.8125rem;
}
