---
import Template from '@/components/template/Template.astro';
import Hero from '@/components/organism/Hero.astro';
---

<Template title='Home'>
	<section class='container'><Hero /></section>
</Template>
