---
import Template from '@/components/template/Template.astro';
import Hero from '@/components/organism/Hero.astro';
import Partners from '@/components/organism/Partners.astro';
---

<Template title='Home'>
	<section><Hero /><Partners /></section>
</Template>
