---
import Template from '@/components/template/Template.astro';
import Hero from '@/components/organism/Hero.astro';
import Partners from '@/components/organism/Partners.astro';
import Section from '@/components/atom/Section.astro';
import CallToAction from '@/components/organism/CallToAction.astro';
import Services from '@/components/organism/Services.astro';
import CaseStudies from '@/components/organism/CaseStudies.astro';
import WorkProcess from '@/components/organism/WorkProcess.astro';
---

<Template title='Home'>
	<section>
		<Hero />
		<Partners />
		<Section
			title='Services'
			text='At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:'
		>
			<Services />
		</Section>
		<CallToAction />
		<Section
			title='Case Studies'
			id='use-cases'
			text='Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies'
		>
			<CaseStudies />
		</Section>
		<Section
			title='Our Working Process'
			text='Step-by-Step Guide to Achieving Your Business Goals'
		>
			<WorkProcess />
		</Section>
	</section>
</Template>
