---
interface Props {
	index: number;
	title: string;
	text: string;
}
const { index, title, text } = Astro.props;
---

<article id='acordeon-card' class='inactive'>
	<div class='process-header-wrapper'>
		<div class='process-header'>
			<p class='h2'>{index.toString().padStart(2, '0')}</p>
			<h1 class='h3'>
				{title}
			</h1>
		</div>
		<button id='process-button' class='button'
			><img id='icon' src='/assets/icon/plus.svg' /></button
		>
	</div>
	<p id='process-text' class='hidden'>
		{text}
	</p>
</article>

<script>
	const card = document.querySelectorAll('#acordeon-card');
	card.forEach((acordeon) =>
		acordeon.querySelector('#process-button')?.addEventListener('click', () => {
			const text = acordeon.querySelector('#process-text');
			const card = acordeon;
			const icon = acordeon.querySelector('#icon') as HTMLImageElement;
			if (text?.classList.contains('hidden')) {
				text?.classList.remove('hidden');
				card?.classList.remove('inactive');
				card?.classList.add('active');
				icon.src = '/assets/icon/minus.svg';
			} else {
				text?.classList.add('hidden');
				card?.classList.add('inactive');
				icon.src = '/assets/icon/plus.svg';
			}
		}),
	);
</script>
<style>
	article {
		width: 100%;
		border: 1px solid var(--color-black);
		border-radius: var(--border-radius-lg);
		padding: clamp(16px, 8%, 30px);
		border-width: 1px 1px 5px;
		@media (--size-md) {
			font-size: 40px;
			padding: 40px clamp(16px, 8%, 60px);
		}
	}
	.process-header-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: min(13%, 33px);
	}

	.process-header {
		width: 100%;
		display: flex;
		align-items: center;
		gap: min(3%, 33px);
	}
	.button {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;

		background-color: var(--color-grey);
		border-radius: 100%;
		border: 1px solid var(--color-dark);
		@media (--size-md) {
			width: 58px;
			height: 58px;
		}
		&:hover {
			cursor: pointer;
		}
	}
	#icon {
		width: 12px;
		@media (--size-md) {
			width: 25px;
		}
	}
	#process-text {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid var(--color-black);
	}

	.active {
		background-color: var(--color-green);
	}
	.inactive {
		background-color: var(--color-grey);
	}
	.hidden {
		display: none;
	}
</style>
