---
import { SERVICES } from '@/data';
import ServiceCard from './ServiceCard.astro';
---

<div class='wrapper'>
	{SERVICES.map((service) => <ServiceCard {...service} />)}
</div>
<style scoped>
	.wrapper {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
		gap: 30px;
		@media (--size-md) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(1, 1fr);
		}
		@media (--size-lg) {
			gap: 30px;
		}
	}
</style>
